In [1]:
import psycopg2
import pyodbc
import pandas as pd
from pandas import pivot_table

In [6]:
def get_db_cursor():
    username = "doadmin"
    password = 'yzmodwh2oh16iks6'
    host = 'db-postgresql-cl1-do-user-2276924-0.db.ondigitalocean.com'
    port = 25060
    database = 'MandatoryMetadata'
    schema = 'historical'

    conn = psycopg2.connect(host=host,database=database, user=username, password=password, port=port)
    cur = conn.cursor()
    cur.execute("SET search_path TO " + schema)

    return conn, cur

In [7]:
conn, cur = get_db_cursor()

In [8]:
spectra = pd.read_sql("SELECT * FROM spectraldata s", con=conn)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [9]:
spectra

,spectral_data_id,metadata_id,datablock,opus_metadata,non_averaged_spectra,is_finalized,passed,is_active,in_models,model_dataset_type,averaged,averaged_spectra,timestamp
0,45,13,AB,"{'ABP': 1001299.0, 'ADT': 0.0, 'APF': 'B3', 'A...","{'522': [2.315193056887986, 2.3258604307668063...",True,True,True,None,None,False,None,2023-01-24 14:04:43
1,46,13,AB,"{'ABP': 1001299.0, 'ADT': 0.0, 'APF': 'B3', 'A...","{'522': [2.2528207439721912, 2.202161346749317...",True,True,True,None,None,False,None,2023-01-24 14:04:43
2,74,1,AB,None,None,False,False,False,None,None,True,"{'521': [2.270869655047864, 2.2656960429803803...",2023-01-27 19:29:20
3,5,1,AB,None,None,False,False,False,None,None,True,"{'521': [2.270869655047864, 2.2656960429803803...",2023-01-23 13:27:13
4,90,23,AB,"{'ABP': 1001076.0, 'ADT': 0.0, 'APF': 'B3', 'A...","{'522': [1.9819135501038987, 1.965563590137089...",False,False,False,None,None,False,None,2023-01-27 20:21:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,85,22,AB,"{'ABP': 1001076.0, 'ADT': 0.0, 'APF': 'B3', 'A...","{'522': [1.9581674820947743, 1.984835304384118...",False,False,False,None,None,False,None,2023-01-27 20:15:59
90,86,22,AB,"{'ABP': 1001076.0, 'ADT': 0.0, 'APF': 'B3', 'A...","{'522': [1.937771092292944, 1.9441624318330413...",False,False,False,None,None,False,None,2023-01-27 20:15:59
91,87,22,RSC,"{'ABP': 1001076.0, 'ADT': 0.0, 'APF': 'B3', 'A...","{'514': [0.0193613663700535, 0.020664975113684...",False,False,False,None,None,False,None,2023-01-27 20:16:18
92,88,22,RSC,"{'ABP': 1001076.0, 'ADT': 0.0, 'APF': 'B3', 'A...","{'514': [0.0193613663700535, 0.020664975113684...",False,False,False,None,None,False,None,2023-01-27 20:16:18
93,89,22,AB,None,None,True,False,False,None,None,True,"{'522': [1.9479692871938592, 1.964498868108579...",2023-01-27 20:16:55

In [3]:
conn_lims = pyodbc.connect("Driver={SQL Server};"
                        "Server=192.168.5.18\CROPNUT;"
                        "Database=cropnuts;"
                        "uid=thomasTsuma;pwd=GR^KX$uRe9#JwLc6")

In [10]:
# lims = pd.read_sql_query("SELECT * from SampleResults where processed_date>'2020-09-16' ORDER BY processed_date ASC", con=conn_lims)
# lims.to_csv("outputFiles/unfileteredwetchem_20200916-20230124")
lims = pd.read_csv("inputFiles/uncleaned_wetchem_20200916-20221107.csv")

C:\Users\Tsuma Thomas\AppData\Local\Temp\ipykernel_5448\1650750355.py:2: DtypeWarning: Columns (5,13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  lims = pd.read_csv("inputFiles/uncleaned_wetchem_20200916-20221107.csv")

In [11]:
filenames = spectra['opus_metadata'].values
for i in range(len(filenames)):
    if (isinstance(filenames[i],dict) == True):
        filenames[i] = filenames[i]['FILENAME']

In [12]:
spectra['filenames'] = filenames

In [20]:
spectra

,spectral_data_id,metadata_id,datablock,opus_metadata,non_averaged_spectra,is_finalized,passed,is_active,in_models,model_dataset_type,averaged,averaged_spectra,timestamp,sample_code
0,45,13,AB,FA419-45SA0002_Laarman_20230124_163917_002.0,"{'522': [2.315193056887986, 2.3258604307668063...",True,True,True,None,None,False,None,2023-01-24 14:04:43,FA419-45SA0002
1,46,13,AB,FA419-45SA0002_Laarman_20230124_163843_001.0,"{'522': [2.2528207439721912, 2.202161346749317...",True,True,True,None,None,False,None,2023-01-24 14:04:43,FA419-45SA0002
6,47,14,AB,FA611-430SA0001_Laarman_20230124_163113_002.0,"{'522': [2.178236199851096, 2.1406849134172177...",True,True,True,None,None,False,None,2023-01-24 14:04:43,FA611-430SA0001
7,48,14,AB,FA611-430SA0001_Laarman_20230124_163039_001.0,"{'522': [2.221190270175562, 2.2114937985759417...",True,True,True,None,None,False,None,2023-01-24 14:04:43,FA611-430SA0001
18,49,15,AB,FA419-47SA0005_Laarman_20230124_163635_001.0,"{'522': [2.1532866104840904, 2.224974824255031...",True,True,True,None,None,False,None,2023-01-24 14:04:43,FA419-47SA0005
19,50,15,AB,FA419-47SA0005_Laarman_20230124_163716_002.0,"{'522': [2.227479917079362, 2.2103746497797445...",True,True,True,None,None,False,None,2023-01-24 14:04:43,FA419-47SA0005
29,61,17,AB,CS006SA0042_Laarman_20230125_095924_002.0,"{'522': [2.2589999528048503, 2.257822186463266...",True,True,True,None,None,False,None,2023-01-25 07:04:53,CS006SA0042
30,62,17,AB,CS006SA0042_Laarman_20230125_095848_001.0,"{'522': [2.389748374019224, 2.3572587838977044...",True,True,True,None,None,False,None,2023-01-25 07:04:53,CS006SA0042
69,41,11,AB,FA419-43SA0001_Laarman_20230124_163335_001.0,"{'522': [2.2065657418712603, 2.246203293173197...",True,True,True,None,None,False,None,2023-01-24 14:04:43,FA419-43SA0001
70,42,11,AB,FA419-43SA0001_Laarman_20230124_163409_002.0,"{'522': [2.101673413154748, 2.11749403613218, ...",True,True,True,None,None,False,None,2023-01-24 14:04:43,FA419-43SA0001
72,43,12,AB,FA419-46SA0003_Laarman_20230124_164106_001.0,"{'522': [2.2611000074542806, 2.2132755563231, ...",True,True,True,None,None,False,None,2023-01-24 14:04:43,FA419-46SA0003
73,44,12,AB,FA419-46SA0003_Laarman_20230124_164141_002.0,"{'522': [2.064997544573325, 2.095697237739194,...",True,True,True,None,None,False,None,2023-01-24 14:04:43,FA419-46SA0003
83,69,19,AB,FA419-51SA0016_Laarman_20230125_103018_002.0,"{'522': [2.1918035739307182, 2.133545689229505...",True,True,True,None,None,False,None,2023-01-25 07:35:49,FA419-51SA0016
84,70,19,AB,FA419-51SA0016_Laarman_20230125_102944_001.0,"{'522': [2.334226943274665, 2.446675869263469,...",True,True,True,None,None,False,None,2023-01-25 07:35:49,FA419-51SA0016

In [14]:
spectra.filenames = spectra.filenames.str.extract('([C]\w{3,5}SA\w{2,5}|[F]\w{4,5}[-]{1}\w{6,9}|A\w{5,7}[-]{1}\w{7,10}|\w{3}[-]{1}\w{1,2}[-]{1}\w{7,10}|\w{3}[-]{1}\w{2}[-]{1}\w{4,6})', expand=False)

In [16]:
spectra.dropna(subset=["filenames"],axis=0,inplace=True)

In [18]:
spectra.filenames = [spectra.filenames.values[x].split('_')[0] for x in range(spectra.shape[0])]

In [19]:
spectra = spectra.rename(columns={"filenames":"sample_code"})

In [21]:
predictions = pd.read_sql("SELECT * FROM prediction", con=conn)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [22]:
chemical = pd.read_sql("SELECT * FROM chemical", con=conn)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [40]:
chemical_predictions = pd.merge(predictions,chemical, on="chemical_id", how="left")

In [24]:
spectra_chemical_predictions = pd.merge(spectra, chemical_predictions, on="sample_code", how="left")

In [41]:
chemical_predictions

,prediction_id,batch_id,metadata_id,sample_code,model_id_x,chemical_id,prediction,post_prediction_flag,timestamp,chemical_name,active,model_id_y,lims_name
0,1,1,1,ML-SS21-2,12,16,847.072205,False,2023-01-23 13:28:23,potassium,True,None,None
1,2,1,1,ML-SS21-2,12,12,2.986919,False,2023-01-23 13:28:23,organic_carbon,True,None,None
2,3,1,1,ML-SS21-2,12,10,406.447052,False,2023-01-23 13:28:23,magnesium,True,None,None
3,4,1,1,ML-SS21-2,12,6,2.995116,False,2023-01-23 13:28:23,copper,True,None,None
4,5,1,1,ML-SS21-2,12,13,6.463694,False,2023-01-23 13:28:23,ph,True,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,275,21,23,ISE958-1,12,12,2.389317,False,2023-01-27 20:23:26,organic_carbon,True,None,None
275,276,21,23,ISE958-1,12,10,76.434273,False,2023-01-27 20:23:26,magnesium,True,None,None
276,277,21,23,ISE958-1,12,6,2.976436,False,2023-01-27 20:23:26,copper,True,None,None
277,278,21,23,ISE958-1,12,13,4.802110,False,2023-01-27 20:23:26,ph,True,None,None
278,279,21,23,ISE958-1,12,17,68.614494,False,2023-01-27 20:23:26,sand,True,None,None

In [26]:
spectra_chemical_predictions

,spectral_data_id,metadata_id_x,datablock,opus_metadata,non_averaged_spectra,is_finalized,passed,is_active,in_models,model_dataset_type,...,metadata_id_y,model_id_x,chemical_id,prediction,post_prediction_flag,timestamp_y,chemical_name,active,model_id_y,lims_name
0,45,13,AB,FA419-45SA0002_Laarman_20230124_163917_002.0,"{'522': [2.315193056887986, 2.3258604307668063...",True,True,True,None,None,...,13,12,12,1.989184,False,2023-01-24 14:09:02,organic_carbon,True,None,None
1,45,13,AB,FA419-45SA0002_Laarman_20230124_163917_002.0,"{'522': [2.315193056887986, 2.3258604307668063...",True,True,True,None,None,...,13,12,21,0.162209,False,2023-01-24 14:09:02,total_nitrogen,True,None,None
2,45,13,AB,FA419-45SA0002_Laarman_20230124_163917_002.0,"{'522': [2.315193056887986, 2.3258604307668063...",True,True,True,None,None,...,13,12,1,1240.490356,False,2023-01-24 14:09:02,aluminium,True,None,None
3,45,13,AB,FA419-45SA0002_Laarman_20230124_163917_002.0,"{'522': [2.315193056887986, 2.3258604307668063...",True,True,True,None,None,...,13,12,14,9.431145,False,2023-01-24 14:09:02,phosphorus,True,None,None
4,45,13,AB,FA419-45SA0002_Laarman_20230124_163917_002.0,"{'522': [2.315193056887986, 2.3258604307668063...",True,True,True,None,None,...,13,12,13,5.205915,False,2023-01-24 14:09:02,ph,True,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,70,19,AB,FA419-51SA0016_Laarman_20230125_102944_001.0,"{'522': [2.334226943274665, 2.446675869263469,...",True,True,True,None,None,...,19,12,16,527.361084,False,2023-01-25 07:39:29,potassium,True,None,None
290,70,19,AB,FA419-51SA0016_Laarman_20230125_102944_001.0,"{'522': [2.334226943274665, 2.446675869263469,...",True,True,True,None,None,...,19,12,4,17.155230,False,2023-01-25 07:39:29,cec,True,None,None
291,70,19,AB,FA419-51SA0016_Laarman_20230125_102944_001.0,"{'522': [2.334226943274665, 2.446675869263469,...",True,True,True,None,None,...,19,12,17,20.441072,False,2023-01-25 07:39:29,sand,True,None,None
292,70,19,AB,FA419-51SA0016_Laarman_20230125_102944_001.0,"{'522': [2.334226943274665, 2.446675869263469,...",True,True,True,None,None,...,19,12,18,15.220995,False,2023-01-25 07:39:29,silt,True,None,None
293,70,19,AB,FA419-51SA0016_Laarman_20230125_102944_001.0,"{'522': [2.334226943274665, 2.446675869263469,...",True,True,True,None,None,...,19,12,5,65.422943,False,2023-01-25 07:39:29,clay,True,None,None

In [27]:
lims_spectra_chemical_predictions = pd.merge(lims, spectra_chemical_predictions, on='sample_code', how='inner')

In [28]:
lims_spectra_chemical_predictions = lims_spectra_chemical_predictions.set_index("sample_code")

In [29]:
all_chemicals = ['aluminium', 'boron', 'cec', 'calcium', 'clay', 'copper', 'ec_(salts)', 'exchangeable_acidity', 'iron', 'magnesium', 'manganese', 'organic_carbon', 'ph', 'phosphorus', 'phosphorus_sorption_index_(psi)' 'potassium', 'sand', 'silt', 'sodium', 'sulphur', 'total_nitrogen', 'zinc']

In [30]:
for col in lims_spectra_chemical_predictions.columns:
    if(col not in all_chemicals):
        lims_spectra_chemical_predictions.drop(col, axis=1, inplace=True)

In [31]:
lims_spectra_chemical_predictions

Empty DataFrame
Columns: [aluminium, boron, cec, calcium, clay, copper, ec_(salts), exchangeable_acidity, iron, magnesium, manganese, organic_carbon, ph, phosphorus, sand, silt, sodium, sulphur, total_nitrogen, zinc]
Index: []

In [52]:
lims_spectra_chemical_predictions.to_csv("outputFiles/ds_ml94Lims_unfiltered.csv")

In [33]:
df_chemical_predictions = chemical_predictions[['sample_code','chemical_name','prediction']]

In [34]:
df_chemical_predictions = df_chemical_predictions.reset_index().drop_duplicates(subset=['sample_code', 'chemical_name', 'prediction']).set_index('sample_code')

In [36]:
df_chemical_predictions.drop("index", axis=1, inplace=True)

In [37]:
df_chemical_predictions

              chemical_name  prediction
sample_code
ML-SS21-2         potassium  847.072205
ML-SS21-2    organic_carbon    2.986919
ML-SS21-2         magnesium  406.447052
ML-SS21-2            copper    2.995116
ML-SS21-2                ph    6.463694
ML-SS21-2              sand   33.322174
ML-SS21-2         potassium  904.130615
ML-SS21-2    organic_carbon    2.820841
ML-SS21-2         magnesium  413.988586
ML-SS21-2            copper    2.649808
ML-SS21-2                ph    6.470027
ML-SS21-2              sand   34.051609

In [41]:
df_chemical_predictions_pivot = pivot_table(df_chemical_predictions.reset_index(), values='prediction', index=['sample_code'], columns=['chemical_name'], aggfunc='sum')

In [42]:
df_chemical_predictions_pivot

chemical_name,copper,magnesium,organic_carbon,ph,potassium,sand
sample_code,,,,,,
ML-SS21-2,5.644924,820.435638,5.80776,12.933721,1751.20282,67.373783

In [45]:
df_chemical_predictions_pivot.to_csv("outputFiles/ds_ml94_predictions_unfiltered.csv")

In [42]:
chemical_predictions_df = chemical_predictions[['sample_code','prediction','chemical_name']]

In [43]:
chemical_predictions_df =chemical_predictions_df.set_index("sample_code")

In [46]:
chemical_predictions_df = pivot_table(chemical_predictions_df.reset_index(), values='prediction', index=['sample_code'], columns=['chemical_name'], aggfunc='sum')

In [47]:
chemical_predictions_df

chemical_name,aluminium,boron,calcium,cec,clay,copper,exchangeable_acidity,iron,magnesium,manganese,organic_carbon,ph,phosphorus,potassium,sand,silt,sodium,sulphur,total_nitrogen,zinc
sample_code,,,,,,,,,,,,,,,,,,,,
CS006SA0042,920.443359,2.242003,4064.811279,29.544374,70.161453,9.817898,0.137181,77.678802,557.038147,364.130096,2.821874,7.253561,462.165985,952.716553,16.026844,16.165535,78.364929,26.651852,0.196692,30.501915
FA419-43SA0001,1405.859619,0.349597,513.349182,11.356864,69.878151,3.870060,1.726703,132.479980,109.749992,158.805420,2.438334,4.689616,15.229645,360.598419,18.691185,12.668204,41.346386,22.944126,0.174800,6.943087
FA419-45SA0002,1240.490356,0.320830,883.491760,12.419497,69.600060,4.394439,0.855473,118.816681,203.780548,290.305573,1.989184,5.205915,9.431145,268.865082,18.773510,13.745471,17.115637,20.088541,0.162209,9.613596
FA419-46SA0003,1193.548706,0.563079,1694.367310,17.176088,63.585712,2.832877,0.364966,125.566399,329.784698,232.798965,2.393521,6.046195,19.386568,643.296631,23.753893,16.414064,46.111542,20.420546,0.166611,10.253302
FA419-47SA0005,1082.930542,0.417620,1156.671875,12.621675,40.345276,2.865764,0.444020,195.784912,189.696304,97.564278,2.620643,5.413566,25.633308,169.743317,53.597214,11.438428,42.041061,13.335829,0.167014,8.065599
FA419-51SA0016,1307.773071,0.504484,1174.241211,17.155230,65.422943,3.035720,1.031263,134.606293,286.796082,147.628998,2.674024,5.190876,15.152608,527.361084,20.441072,15.220995,50.379307,19.965916,0.189391,10.144878
FA611-430SA0001,787.898254,1.795491,6023.329590,40.045921,51.998756,3.818815,0.094845,147.684982,739.262878,364.292664,2.310375,7.688224,34.393124,1165.478027,27.827654,14.466706,245.240097,47.964100,0.154534,9.281745
ISE958-1,NaN,NaN,NaN,NaN,NaN,2.976436,NaN,NaN,76.434273,NaN,2.389317,4.802110,NaN,75.054123,68.614494,NaN,NaN,NaN,NaN,NaN
ISE958-2,NaN,NaN,NaN,NaN,NaN,5.203318,NaN,NaN,218.615295,NaN,5.315271,9.586354,NaN,152.935104,137.408295,NaN,NaN,NaN,NaN,NaN
ML-SS21-2,NaN,NaN,NaN,NaN,NaN,11.468768,NaN,NaN,2038.685974,NaN,14.631217,26.060550,NaN,3482.187561,164.570040,NaN,NaN,NaN,NaN,NaN
ML-SS21-8,NaN,NaN,NaN,NaN,NaN,14.873936,NaN,NaN,1468.983137,NaN,13.601847,36.301465,NaN,3424.045692,213.024998,NaN,NaN,NaN,NaN,NaN

In [49]:
chemical_predictions_df.to_csv("outputFiles/results_from_spectral_db.csv")

In [15]:
arr = [3,2,1,3,4]

In [16]:
arr = arr[::-1]

In [17]:
arr

[4, 3, 1, 2, 3]

In [20]:
arr[:1]

[4]

In [19]:
arr

[4, 3, 1, 2, 3]