In [1]:
import psycopg2
import pandas as pd
import pyodbc

In [11]:
conn_lims = pyodbc.connect("Driver={SQL Server};"
                        "Server=192.168.5.18\CROPNUT;"
                        "Database=cropnuts;"
                        "uid=thomasTsuma;pwd=GR^KX$uRe9#JwLc6")

In [12]:
averaged_spectra = pd.read_csv("outputFiles/averaged_spectra_samples.csv")

In [13]:
sample_codes = averaged_spectra['sample_code'].values

In [14]:
lims = pd.read_sql(f"SELECT * FROM SampleResults WHERE sample_code IN {tuple(sample_codes)}", con=conn_lims)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [17]:
lims = lims[['sample_code','chemical_name','result']]

In [18]:
lims

         sample_code   chemical_name result
0        CO064SA0543            None   None
1        CO064SA0543            None   None
2        CO064SA0543            None   None
3        CO064SA0543            None   None
4        CM235SA0008            None   None
...              ...             ...    ...
3101  FA538-13SA0001          Copper   0.76
3102  FA538-13SA0001            Zinc   1.10
3103  FA538-13SA0001           C.E.C   24.1
3104  FA538-13SA0001  Total Nitrogen   0.19
3105  FA538-13SA0001  Organic Carbon   2.38

[3106 rows x 3 columns]

In [20]:
lims = pd.pivot_table(lims, values='result', index=['sample_code'], columns=['chemical_name'], aggfunc='max')